.header {
  display: flex;
  justify-content: space-between;

  height: 100px;
  width: 100%;
}
img {
  height: 90px;
  width: 90px;
}

.list {
  margin-left: 1000px;
  list-style-type: none;
  display: flex;
}
.list > li {
  padding: 10px;
  color: black;
}
.card {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
.card > img {
  width: 100%;
}
.body {
  display: flex;
  flex-wrap: wrap;
}
.search-conatiner {
  display: inline;
}
.search-input {
  width: 1400px;

  border-color: rebeccapurple;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.restaurants-search {
  margin-bottom: 10px;
}

.card {
  min-height: 326px;
  width: 200px;
}

.restaurants-search {
  width: 1400px;
  background-color: gray;
  height: 21px;
}

.shimmer-img {
  height: 100%;
  width: 100%;
  background-color: gray;
}
.Log-in {
  margin-top: 20px;
  margin-right: 15px;
  height: 30px;
  width: 100px;
}
.Log-out {
  margin-top: 20px;
  margin-right: 15px;
  height: 30px;
  width: 100px;
}
.Restaurant-Details {
  display: flex;
  border: 1px solid black;
}
.Restaurant-Link {
  color: black;
  text-decoration: none;
}
.Resuarant-Search {
}
.Resuarant-Search > img {
  width: 300px;
  height: 200px;
}
.Menu-Bar {
  margin-left: 600px;
}
